{% extends "/layout.html" %} {% block main %}
<div class="content">
  <div class="panel-body text-center">
    <h1>{{ _("Internal Server Error") }}</h1>
    <h2>{{ _("Il server non è stato in grado di completare la richiesta.") }}</h2>
    <h3>{{ _("Perché è successo?") }}</h3>
    <ul>
      <li>{{ _("Il server potrebbe essere sovraccarico al momento." ) }}</li>
      <li>{{ _("La connessione è stata interrotta.")}}</li>
      <li>{{ _("Si tratta di un errore temporaneo, prova a ricaricare la pagina.") }}</li>
      <li>{{ _("Se il problema persiste contatta l'amministratore.") }}</Li>
    </ul>
    <p>{{ _("Torna alla:" ) }}
      <a href="{{ url_for('index') }}">
	    {{ _("home page") }}
      </a>.
    </p>
  </div>
</div>
{% endblock %}
