{% extends "/layout.html" %} {% block main %}
<div class="content">
  <div class="column one">
      <h2>Imposta una nuova password</h2>
    <form method="POST" action="/change_pw">
      {{ form.csrf_token }}
      <div class="form-element-wrapper">
	{{ form.password.label }}
	{{ form.password(class_="form-control form-control-danger") }}
	{% if form.password.errors %}
	{% for error in form.password.errors %}
	<span class="text-danger">{{ error }}</span>
	{% endfor %}
	{% endif %}
      </div>
      <div class="form-element-wrapper">
	{{ form.confirm_password.label }}
	{{ form.confirm_password(class_="form-control form-control-danger") }}
	{% if form.confirm_password.errors %}
	{% for error in form.confirm_password.errors %}
	<span class="text-danger">{{ error }}</span>
	{% endfor %}
	{% endif %}
      </div>
      <button type="submit" class="form-element form-button">Cambia password</button>
    </form>
  </div>
</div>
{% endblock %}
