{% extends "bootstrap/base.html" %}
{% block title %}
{{ config['ORGNAME'] }} - Gestione Account
{% endblock%}
{% block head %}
{{ super() }}
    <link href="static/styles.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-10" style="align-items: center;">
            <h2>{{ config['ORGNAME'] }}</h2>
            <h3>Gestione Account</h3>
        </div>
        <div class="col-md-2" style="align-items: center;">
            <br /><img src="static/garr-logo.png" width="100" alt="Consortium GARR" /> <br />
            <img src="static/idem-logo.png" width="100" alt="Federazione IDEM GARR AAI" />
        </div>
      </div>
    </div>
    <div class="row text-right">
         {% if current_user.is_authenticated %}
            <p class="text-right">{{ current_user.uid }} |
                <a href="{{url_for('logout')}}">
                 {{  _("Logout") }}
                </a>
            </p>
         {% endif %}
    </div>
    <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    {% set css_class = 'alert alert-danger alert-dismissible' %} 
    {% else %}
    {% set css_class = 'alert alert-info alert-dismissible' %}
    {% endif %}
      <div class="{{ css_class }}">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message|safe }}</strong>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
  {% block main %}
  {% endblock %}
  </div>
    <footer class="footer">
      <div class="container">
      <p class="footer-text">{{ config['ORGNAME'] }} - IDEM GARR AAI</p>
      </div>
    </footer>
{% endblock %}
