{% extends "/layout.html" %}
{% block title %}
FLUP
{% endblock %}
{% block main %}
    <form action="/" method="post">
      {{ form.csrf_token }}
    <div class="row">
        <div class="form-group col-xs-6 col-lg-3">
        {{ form.username.label }}
    	{{ form.username(class="form-control form-control-danger") }}
    	{% if form.username.errors %}
	      {% for error in form.username.errors %}
	         <span class="text-danger">{{ error }}</span>
          {% endfor %}
	    {% endif %}
    {{ form.password.label }}
	{{ form.password(class="form-control form-control-danger") }}
	{% if form.password.errors %}
	  {% for error in form.password.errors %}
	    <span class="text-danger">{{ error }}</span>
	  {% endfor %}
	{% endif %}
        </div>
    </div>
        <button type="submit" class="form-element form-button">Login</button>
    </form>
    <a href="{{ url_for('reset_pw') }}"><span class="item-marker">&rsaquo;</span>{{ _("Password dimenticata?") }}</a>
{% endblock %}
