{% extends "bootstrap/base.html" %}
{% block title %}
{% endblock%}
{% block head %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  {% set css_class = 'alert alert-danger alert-dismissible' %} 
  {% else %}
  {% set css_class = 'alert alert-info alert-dismissible' %}
  {% endif %}
  <div class="{{ css_class }}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message|safe }}</strong>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
{% if current_user.is_authenticated %}
<div class="container">
  <p>Hi {{ current_user.givenName }}! | <a href="{{url_for('logout')}}">Logout</a></p>
</div>
{% endif %}
{% block main %}
{% endblock %}
{% block footer %}
<div class="container">
  
<div class="container">
  <footer class="footer">
    <div class="container">
      <div class="row">
	<a class="footer-font"  href="https://URL/">
	  NOME ISTITUZIONE
	</a>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
{% endblock %}
